/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 *= require flatpickr
 *= require flatpickr/themes/dark
 */
@import "bootstrap";

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 80px !important;
}

.main-view {
    margin: 2rem 0;
}

.main-logo img {
    height: 30px;
    width: auto;
    margin-right: 0.5rem;
}

.devise-form {
    margin: auto;
}

.remember-me {
    margin-left: 1.5rem;
}

.field_with_errors {
    + br {
        display: none;
    }

    input, select {
        border: 2px solid #f39c12;
    }
 }

.page-header,
.create-game-div {
    margin-bottom: 1rem;
    text-align: center;
}

.footer {
    position: absolute;
    bottom: 0;
    height: 60px;
    line-height: 60px;
    width: 100%;
}
