.new-court-form {
    position: relative;
    width: 70%;
    margin: auto;
}

.court-list {
    position: relative;
    margin-top: 2rem;
}

.court-list-title {
    text-align: center;
}

.select-court-btn {
    text-align: right;
}
