// Place all the styles related to the games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.all-games-title {
    margin: 1rem;
}

.new-game-title {
    margin: 1rem;
    display: inline-block;
}

.new-game-btn,
.rsvp-big,
.back-btn {
    padding: 0.5rem 1rem;
    font-size: 150%;
}

.rsvp-big {
    float: right;
}

.game-detail-form {
    display: inline-block;
}

.game-detail-btn {
    margin: 0 0.5rem;
}

.filter-btn {
    display: block;
    padding: 2rem;
    margin-bottom: 1rem;
    font-size: 120%;
}

#single-game-map {
    margin-bottom: 1.5rem;
}

.no-games,
.game-info,
.player-list-title {
    text-align: center;
}

.player-list-title {
    margin: 2rem 0;
}

@media(min-width: 768px) {
    .all-games-title {
        display: inline-block;
    }

    .new-game-btn {
        position: relative;
        float: right;
        margin: 1rem;
    }

    .game-detail-right {
        text-align: right;
    }
}

.arrow {
    box-sizing: border-box;
    height: 2vw;
    width: 2vw;
    border-style: solid;
    border-color: white;
    border-width: 0px 2px 2px 0px;
    transform: rotate(45deg);
    transition: border-width 150ms ease-in-out;
    margin: 1rem auto;
}
